{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5">
    <h1 class="display-4">Change password</h1>
    <hr>
    <form class="col-lg-4 px-5"
        action=""
        method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <div class="d-grid">
            <button type="submit">Change</button>
        </div><br>
        <p class="text-end"> <a href="{% url 'user-detail' %}">Cancel</a></p>

    </form><br>
</div>
{% endblock content %}