{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5">
    <h1>{{object.sticker|upper}}</h1>
    <hr>
    <div class="row">
        <div class="col">
            <div class="px-3">
                <p class="d-flex justify-content-end gap-2"><a
                        class="edit-ticket"
                        href="{% url 'sticker-update' object.slug %}">Edit</a>

                <p><strong>Name: </strong>{{object.name}}</p>
                <p><strong>Number plate: </strong>{{object.no_plate|upper}}</p>
                <p><strong>Sticker: </strong>{{object.sticker}}</p>
                <p><strong>Expires: </strong>{{object.expires|upper}}</p>
                <p><strong>Receipt#: </strong>{{object.receipt}}</p>
                <p class="text-end"> <a class="delete-ticket"
                        href="">Delete</a>
                </p>
                <hr>
                <p class="small text-muted"><strong>Created:
                    </strong><span>{{object.created_at}} <a
                            href="">{{object.created_by}}</a></span>
                    <span class="float-end"><strong>Updated:
                        </strong>{{object.updated_at}} <a
                            href="">{{object.updated_by}}</a></span>
                </p>
            </div>
        </div>
        {% if object.comments %}
        <div class="col-lg-3 p-3">
            <form action="{% url 'ticket-add-comment' object.slug %}"
                method="post">
                {% csrf_token %}
                {{comment_form|crispy}}
                <div class="d-grid">
                    <button type="submit">Submit</button>
                </div>
            </form>
            <br>
            <div style="overflow-y: scroll; max-height: 400px;">
                {% for comment in object.comments.all %}
                <span class="small">{{comment.comments}} </span><br>
                <p class="text-end small"><a
                        href="{{comment.created_by.get_absolute_url}}"><span>{{comment.created_by}}</span></a>
                    <span>{{comment.created_at}}</span>

                </p>
                <hr>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}